body {
	margin: 0;
	padding: 0;
}

header nav {
	background-color: red;
	width: 100%;
	height: 30px;
}

header nav ul li {
	display: inline-block;
	list-style-type: none;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}

.left {
	position: absolute;
	left: 15px;
}

.right {
	position: absolute;
	right: 15px;
	font-weight: bold;
}

.presentation {
	background: #fff url("header_img.jpg") no-repeat fixed center;
	height: 1280px;
}

.presentation p {
	text-align: center;
	color: #fff;
}

.chiffre {
	font-size: 18px;
}

.question {
	font-size: 21px;
}

.logo {
	width: 150px;
	margin: auto;
}

.conseils {
	background: url("conseils_img.jpg") no-repeat scroll 0% 0%;
	height: 766px;
}

.conseils span {
	color: #fff;
	background-color: #E00034;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
	margin-left: 100px;
}

.conseils p {
	margin-left: 100px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
}

footer {
	background-color: #3A3A3A;
	position: absolute;
	width: 100%;
	color: #fff;
	padding: 70px 0;
}

input[type=mail] {
	height: 40px;;
}

button {
	background-color: #089B6C;
	color: #fff;
	border: 1px solid #089B6C;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.flex-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}

footer ul li {
	list-style-type: none;
	line-height: 2em;
}

footer ul li a {
	color: #3C5689;
	text-decoration: none;
}

footer p {
	text-align: center;
}

footer p a {
	color: #3C5689;
	text-decoration: none;
	margin: 20px;
}

footer ul li a:hover, footer p a:hover {
	text-decoration: underline;
}